<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/nieuws">Nieuws</a></li>
        <li><a href="/informatie">Informatie</a></li>
            <ul>
                <li><a href="/informatie/fokken">Fokken</a></li>
                <li><a href="/informatie/sterrenbeelden">Sterrenbeelden</a></li>
                <li><a href="/informatie/edelstenen">Edelstenen</a></li>

            </ul>
        <li><a href="/tekeningen">Tekeningen</a></li>
        <li><a href="/quests">Quests</a></li>


    </ul>
</nav>